<h2 class="font-medium" mat-dialog-title><strong>{{action}} provedor</strong></h2>
<mat-dialog-content class="pb-3">
	<form [formGroup]="form">
        <div fxLayout="column" class="form-field-outer">
            <div fxLayout="row wrap" class="align-items-center">
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <mat-select placeholder="Giro commercial" formControlName="commercial_business_id">
                                <mat-option  *ngFor="let commercial of commercial_business" [value]="commercial.id">{{commercial.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="name" placeholder="Nombre" type="text" minlength="1" maxlength="250" pattern="[A-Za-z0-9_-]{1,250}"  matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="business_name" placeholder="Razon social"  minlength="1" maxlength="50" pattern="[A-Za-z0-9_-]{1,50}"  matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="adress" placeholder="Direccion"  minlength="1" maxlength="200" pattern="[A-Za-z0-9_-]{1,200}"  matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="subrub" placeholder="Colonia"  minlength="1" maxlength="200" pattern="[A-Za-z0-9_-]{1,200}"  matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <mat-select placeholder="Estado" (selectionChange)="getMunicipalities()" formControlName="state_id">
                                <mat-option *ngFor="let state of states" [value]="state.id">{{state.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <mat-select placeholder="Municipio" (click)="isNull()"  formControlName="municipality_id">
                                <mat-option *ngFor="let municipality of municipalities" [value]="municipality.id">{{municipality.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="telephone" placeholder="Telefono"  minlength="1" maxlength="45" pattern="[A-Za-z0-9_-]{1,45}"  matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="contact_company"  (keypress)="isNumber($event)" placeholder="Contacto comp."  minlength="1" maxlength="45" pattern="[A-Za-z0-9_-]{1,45}"  matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="contact_payment" (keypress)="isNumber($event)" placeholder="Contacto pag."  minlength="1" maxlength="45" pattern="[A-Za-z0-9_-]{1,45}"  matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="email" placeholder="email"  minlength="1" maxlength="45" pattern="[A-Za-z0-9_-]{1,45}"  matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="rfc" placeholder="RFC"  minlength="1" maxlength="20" pattern="[A-Za-z0-9_-]{1,20}"  matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="cp" (keypress)="isNumber($event)" placeholder="C.P."  minlength="1" maxlength="5" pattern="[A-Za-z0-9_-]{1,5}"  matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="expense_account" (keypress)="isNumber($event)" placeholder="Gastos cuenta"  minlength="1" maxlength="45" pattern="[A-Za-z0-9_-]{1,45}"  matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="expense_subaccount" (keypress)="isNumber($event)" placeholder="Gastos subcuenta"  minlength="1" maxlength="45" pattern="[A-Za-z0-9_-]{1,45}"  matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="fiscal_account" (keypress)="isNumber($event)" placeholder="Cuenta fiscal"  minlength="1" maxlength="45" pattern="[A-Za-z0-9_-]{1,45}"  matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="limit" (keypress)="isNumber($event)" placeholder="Limite"  minlength="1" maxlength="45" pattern="[A-Za-z0-9_-]{1,45}"  matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <mat-select placeholder="Estatus" formControlName="status">
                                <mat-option [value]="1">Activo</mat-option>
                                <mat-option [value]="2">Inactivo</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button mat-flat-button class="style-btn" (click)="save()">Guardar</button>
        </div>
	</form>
</mat-dialog-content>