<h2 class="font-medium" mat-dialog-title>
  <strong>Hoja de salida<!-- {{ action }} Orden de Trabajo --></strong>
</h2>
<mat-dialog-content class="pb-3">
  <form [formGroup]="form" (ngSubmit)="saveExit()">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Salida de equipo">
        <br />
        <div fxLayout="column" class="form-field-outer">
          <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex="100" fxFlex.gt-md="33">
              <div class="m-r-15 m-l-15">
                <mat-form-field>
                  <mat-select
                    placeholder="Factura o remisión"
                    formControlName="invoice_or_referral"
                    required
                  >
                    <mat-option [value]="1">Factura</mat-option>
                    <mat-option [value]="2">Remisión</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!--  <div fxFlex="100" fxFlex.gt-md="33">
              <div class="m-r-15 m-l-15">
                <mat-form-field>
                  <input
                    type="text"
                    formControlName="exit_pass"
                    matInput
                    required
                    placeholder="Pase de salida"
                  />
                </mat-form-field>
              </div>
            </div> -->
            <div fxFlex="100" fxFlex.gt-md="33">
              <div class="m-r-15 m-l-15">
                <mat-form-field appearance="fill">
                  <mat-label>Fecha de salida</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="exit_date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <!-- <div fxFlex="100" fxFlex.gt-md="33">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <input
                      type="text"
                      formControlName="equipment_folio"
                      matInput
                      required
                      placeholder="Folio de equipo"
                    />
                  </mat-form-field>
                </div>
              </div> -->
            <!-- <div fxFlex="100" fxFlex.gt-md="33">
              <div class="m-r-15 m-l-15">
                <mat-form-field>
                  <mat-select
                    placeholder="Zona"
                    formControlName="zone"
                    required
                  >
                    <mat-option [value]="1">Norte</mat-option>
                    <mat-option [value]="2">Monclova</mat-option>
                    <mat-option [value]="3">Saltillo</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div> -->
            <div fxFlex="100" fxFlex.gt-md="33">
              <div class="m-r-15 m-l-15">
                <mat-form-field>
                  <input
                    type="text"
                    formControlName="order"
                    matInput
                    required
                    placeholder="Pedido"
                  />
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-md="50">
              <div class="m-r-15 m-l-15">
                <mat-form-field>
                  <mat-select
                    placeholder="Tipo"
                    formControlName="type"
                    required
                  >
                    <mat-option [value]="1">Reparacion</mat-option>
                    <mat-option [value]="2">Mantenimiento</mat-option>
                    <mat-option [value]="2">Muestra</mat-option>
                    <mat-option [value]="2">Garantia</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-md="50">
              <div class="m-r-15 m-l-15">
                <mat-form-field>
                  <textarea
                    type="text"
                    formControlName="material_description"
                    matInput
                    required
                    placeholder="Descripción del equipo que entrar al taller"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group" formGroupName="optionsCheck">
              <div fxFlex="100" fxFlex.gt-md="100">
                <mat-checkbox
                  class="example-margin"
                  formControlName="test_pressure"
                  >Presión de prueba</mat-checkbox
                >
                <mat-checkbox class="example-margin" formControlName="leakage"
                  >Fuga</mat-checkbox
                >
                <mat-checkbox class="example-margin" formControlName="drips"
                  >Goteo</mat-checkbox
                >
                <mat-checkbox
                  class="example-margin"
                  formControlName="arrow_end_dimension"
                  >Dimensión final de flecha</mat-checkbox
                >
                <mat-checkbox class="example-margin" formControlName="threads"
                  >Roscas</mat-checkbox
                >
                <mat-checkbox
                  class="example-margin"
                  formControlName="screws_cooling_lines"
                  >Ajuste de tornillería, tuercas y líneas de
                  enfriamiento</mat-checkbox
                >
                <mat-checkbox class="example-margin" formControlName="armed"
                  >Armado</mat-checkbox
                >
                <mat-checkbox class="example-margin" formControlName="keyhole"
                  >Cuñero</mat-checkbox
                >
                <mat-checkbox class="example-margin" formControlName="levels"
                  >Niveles</mat-checkbox
                >
                <mat-checkbox class="example-margin" formControlName="packaging"
                  >Empaquetado</mat-checkbox
                >
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-md="100">
              <div class="m-r-15 m-l-15">
                <mat-form-field>
                  <textarea
                    type="text"
                    formControlName="observations"
                    matInput
                    required
                    placeholder="Observaciones"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-md="100">
              <div class="m-r-15 m-l-15">
                <mat-form-field>
                  <textarea
                    type="text"
                    formControlName="applicant"
                    matInput
                    required
                    placeholder="Nombre del solicitante"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-md="100">
              <div class="m-r-15 m-l-15">
                <mat-form-field>
                  <textarea
                    type="text"
                    formControlName="witness"
                    matInput
                    required
                    placeholder="Nombre del Testigo de Revisión"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="100" class="content-container">
              
              <dropzone
                #dropzone
                class="dropzone-container"
                [config]="dropzoneConfig"
                (successMultiple)="onMultiUploadSuccess($event)"
                (addedFiles)="onAddedFiles($event)"
                fxLayout="row"
                fxLayoutAlign="start strech"
                fxFlex="auto"
              ></dropzone>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div>
      <button
        mat-raised-button
        type="submit"
        [disabled]="
          !form.valid &&
          form.controls['optionsCheck'].errors != null 
        "
        color="primary"
      >
        Guardar
      </button>
    </div>
  </form>
</mat-dialog-content>
