<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
            <mat-form-field>
              <input
                matInput
                (click)="applyFilter($event.target.value)"
                placeholder="Buscar requision"
              />
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="75" class="text-right">
            <!-- <button
                mat-raised-button
                (click)="openDialog('Nueva', {})"
                color="primary"
              >
                Nueva requision
              </button> -->
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-tab-group
          [selectedIndex]="index"
          (selectedTabChange)="onTabChanged($event)"
        >
          <mat-tab label="Requisiciones">
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">article</mat-icon>
              Requisiciones
            </ng-template>
            <div class="table-responsive">
              <table
                mat-table
                [dataSource]="dataSource"
                class="table employee-list no-wrap"
              >
                <ng-container matColumnDef="desc_area">
                  <th mat-header-cell *matHeaderCellDef>Area</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.desc_area }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="comments">
                  <th mat-header-cell *matHeaderCellDef>Comentarios</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.comments }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef>Estatus</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.status == 1 ? "Activo" : "Inactivo" }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="created_at">
                  <th mat-header-cell *matHeaderCellDef>Creado el</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.created_at | date: "dd/MM/yyyy" }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="created_by">
                  <th mat-header-cell *matHeaderCellDef>Creado por</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.created_by }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="updated_at">
                  <th mat-header-cell *matHeaderCellDef>Modificado en</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.updated_at | date: "dd/MM/yyyy" }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="updated_by">
                  <th mat-header-cell *matHeaderCellDef>Modificado por</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.updated_by }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>Acciones</th>
                  <td mat-cell *matCellDef="let element" class="action-link">
                    <a
                      #tooltip="matTooltip"
                      matTooltip="Aprobar Requisición"
                      matTooltipHideDelay="10"
                      (click)="messageDelete(element)"
                      class="m-r-10 cursor-pointer"
                      ><i class="fa fa-check text-info"></i
                    ></a>

                    <a
                      (click)="openDialog('Editar', element)"
                      class="m-r-10 cursor-pointer"
                      ><i class="fa fa-pencil"></i
                    ></a>
                    <a
                      (click)="messageDelete(element)"
                      class="m-r-10 cursor-pointer"
                      ><i class="fa fa-trash text-danger"></i
                    ></a>
                    <a
                      (click)="getRequisitionDetails(element, 1)"
                      class="m-r-10 cursor-pointer"
                      ><i class="fa fa-print text-success"></i
                    ></a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  (click)="getRequisitionDetails(row, 0)"
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </mat-tab>
          <!-- <mat-tab label="Detalle Requisicion">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">view_list</mat-icon>
                Detalle de la Requisicion
              </ng-template>
              <div class="table-responsive">
                <table
                  mat-table
                  [dataSource]="dataSource2"
                  class="table employee-list no-wrap"
                >
                  <ng-container matColumnDef="desc_product">
                    <th mat-header-cell *matHeaderCellDef>Producto</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.desc_product }}
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.quantity }}
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="unit_price">
                    <th mat-header-cell *matHeaderCellDef>Precio por unidad</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.unit_price }}
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="subtotal">
                    <th mat-header-cell *matHeaderCellDef>Subtotal</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.subtotal }}
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns2"
                  ></tr>
                </table>
                <mat-paginator
                  [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                ></mat-paginator>
              </div>
            </mat-tab>
            <mat-tab label="Detalle Requisicion">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">visibility</mat-icon>
                Vista previa
              </ng-template>
              <div>
                <div class="requisition-head-1">
                  <span>Requisicion de compra</span>
                </div>
                <div class="requisition-head-2">
                  <span class="bold">BOMBAS VILLASANA S.A DE C.V</span>
                  <br />
                  <br />
                  <div fxLayoutAlign="space-around center">
                    <span
                      >R-<span class="bold">{{ id }}</span></span
                    >
                    <span
                      >Fecha:<span class="bold">{{
                        created_at | date: "dd/MM/yyyy"
                      }}</span></span
                    >
                  </div>
                  <br />
                  <br />
                  <span
                    >Direccion:<span class="bold"
                      >Ayutla & Lib. Lic. Carlos Salinas de Gortari, Occidental,
                      25640 Frontera, Coah., Mexico</span
                    ></span
                  >
                  <br />
                  <span
                    >Area solicitante:
                    <span class="bold">{{ " " + area }}</span>
                  </span>
                  <br />
                </div>
                <div class="requisition-body">
                  <table class="table-2">
                    <tr>
                      <td class="table-2-td">Clave</td>
                      <td class="table-2-td">Producto</td>
                      <td class="table-2-td">Cantidad</td>
                      <td class="table-2-td">Precio por unidad</td>
                      <td class="table-2-td">Subtotal</td>
                    </tr>
                    <tr *ngFor="let details of requisition_details">
                      <td class="table-2-td">{{ details.desc_product }}</td>
                      <td class="table-2-td">{{ details.quantity }}</td>
                      <td class="table-2-td">{{ details.unit_price }}</td>
                      <td class="table-2-td">{{ details.price }}</td>
                      <td class="table-2-td">${{ details.subtotal }}</td>
                    </tr>
                  </table>
                </div>
                <br />
              </div>
            </mat-tab> -->
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
