<h2 class="font-medium" mat-dialog-title><strong>{{action}} cliente</strong></h2>
<mat-dialog-content class="pb-3">
	<form [formGroup]="form">
        <div fxLayout="column" class="form-field-outer">
            <div fxLayout="row wrap" class="align-items-center">
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="name" placeholder="Nombre" type="text" minlength="1" maxlength="100" pattern="[A-Za-z0-9_-]{1,100}"  matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="description" placeholder="Descripcion" type="text" minlength="1" maxlength="100" pattern="[A-Za-z0-9_-]{1,100}"  matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="adress" placeholder="Direccion" type="text" minlength="1" maxlength="200" pattern="[A-Za-z0-9_-]{1,200}"  matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="subrub" placeholder="Colonia" type="text" minlength="1" maxlength="200" pattern="[A-Za-z0-9_-]{1,200}"  matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <mat-select placeholder="Estado"  (selectionChange)="getMunicipalities()" formControlName="state_id">
                                <mat-option *ngFor="let state of states" [value]="state.id">{{state.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <mat-select placeholder="Minicipio"  (click)="isNull()" formControlName="municipality_id">
                                <mat-option *ngFor="let municipality of municipalities" [value]="municipality.id">{{municipality.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="telephone" (keypress)="isNumber($event)" placeholder="Telefono" type="text" minlength="1" maxlength="12" pattern="[A-Za-z0-9_-]{1,12}"  matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="rfc" placeholder="RFC" type="text" minlength="1" maxlength="13" pattern="[A-Za-z0-9_-]{1,13}"  matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="cp" (keypress)="isNumber($event)" placeholder="Codigo Postal" type="text" minlength="1" maxlength="5" pattern="[A-Za-z0-9_-]{1,5}"  matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <mat-select placeholder="CFDI" formControlName="cfdi_id">
                                <mat-option *ngFor="let cfdi of cfdis" [value]="cfdi.id">{{cfdi.description}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="contact_purchase" placeholder="Contacto compra" type="text" minlength="1" maxlength="100" pattern="[A-Za-z0-9_-]{1,100}"  matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="contact_payments" placeholder="Contacto pagos" type="text" minlength="1" maxlength="100" pattern="[A-Za-z0-9_-]{1,100}"  matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <mat-select placeholder="Tipo de banco" formControlName="bank_id">
                                <mat-option *ngFor="let bank of banks" [value]="bank.id">{{bank.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="email" placeholder="Email" type="text" minlength="1" maxlength="45" pattern="[A-Za-z0-9_-]{1,45}"  matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="days" (keypress)="isNumber($event)" placeholder="Dias" type="text" minlength="1" pattern="[A-Za-z0-9_-]{1,5}"  matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="account_bank" (keypress)="isNumber($event)" placeholder="Cuenta de banco" type="text" minlength="1" pattern="[A-Za-z0-9_-]{1,10}"  matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <mat-select placeholder="Tipo de persona" formControlName="kind_of_person_id">
                                <mat-option *ngFor="let kind_of_person of kind_of_persons" [value]="kind_of_person.id">{{kind_of_person.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <input type="text" formControlName="credit_limit" (keypress)="isNumber($event)" placeholder="Limite de credito" type="text" minlength="1" pattern="[A-Za-z0-9_-]{1,10}"  matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33">
                    <div class="m-r-15 m-l-15">
                        <mat-form-field>
                            <mat-select placeholder="Estatus" formControlName="status">
                                <mat-option [value]="1">Activo</mat-option>
                                <mat-option [value]="2">Inactivo</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button mat-flat-button class="style-btn" (click)="save()">Guardar</button>
        </div>
	</form>
</mat-dialog-content>