.btn-element{
    margin-top: 5%;
    margin-bottom: 5%;
    // height: 46px;
    text-align: center;
    width: 100%;
    // margin-left: 21px !important;
}
.table-1{
    width: 100%;
}
.title-td{
    text-align: center;
    background-color:#00386b; 
    color: white;
}
.table-1,td{
    white-space: pre-line;
    font-weight: bold;
}
.mat-elevation-z8{
    width:100% !important;
}
.f-m{
    margin-top: 5%;
    margin-bottom: 5%;
}
.btn-left{
    float:left;
}
.btn-right{
    float:right;
}
.ml-5{
    margin-left: 5%;
}
.text-alert{
    margin-top: 10%;
    margin-bottom: 10%;
    border-style: solid;
    text-align: center;
    font-weight: bold;
}
//VIEW REQUISITION
.requisition-title{
    font-size: 20px;
    font-weight: bold;
}
.requisition-head-1{
    font-size: 20px;
    font-weight: bold;
}
.requisition-head-2{
    border-style: dotted;
    padding-top: 5%;
    padding-bottom:5%;
    margin-top: 5%;
    margin-bottom:5%;
    font-size: 20px;
}
.requisition-head-tittle-1{
    margin-top: 5%;
    margin-bottom: 5%;
}
.requisition-body{
    margin-top: 5%;
    margin-bottom:5%;
    font-size: 20px;
}
.bold{
    font-weight: bold;
}
.table-2{
    width: 100%;
}
.table-2-td{
    border-style: dotted;
    border-collapse: collapse;
}

.m-button{
    margin-top: 5%;
}
.m-exp-panel{
    margin-top: 5%;
}