<h2 class="font-medium" mat-dialog-title>
  <strong>{{ action }} requision</strong>
</h2>
<mat-dialog-content class="pb-3">
  <form [formGroup]="form " (ngSubmit)="save()">
    <mat-tab-group
      [selectedIndex]="index"
      (selectedTabChange)="onTabChanged($event)"
    >
      <mat-tab label="1.-Datos generales">
        <br>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">article</mat-icon>
          Asignar proveedor
        </ng-template>
        <div>
          <mat-form-field>
            <mat-select placeholder="Proveedor:" formControlName="provider_id">
              <mat-option
                *ngFor="let provider of providers"
                [value]="provider.id"
                >{{ provider.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div>
      <button
        mat-raised-button
        type="submit"
        [disabled]="!form.valid"
        color="primary"
      >
        Guardar
      </button>
    </div>
  </form>
</mat-dialog-content>
