<div style="background-image:url(assets/images/background/portal2.png); background-size:cover;">
    <div class="login-register" style="margin-left: 65%;">
        <div class="login-register-box" style="     padding: 15px 1px 15px 1px; background-color: #23408b; border-radius: 2%;">
            <mat-card >
                <mat-card-content >
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" >
                        <div class="text-center">
                            <!-- <img alt="homepage" src="assets/images/avalanz.png" width="45px"> -->
                            <h4 class="m-t-0">Iniciar Sesión</h4>
                        </div>
    
                        <div fxLayout="row wrap">
                            <!-- col full-->
                            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                <mat-form-field>
                                    <input matInput placeholder="Usuario" [formControl]="form.controls['username']">
                                </mat-form-field>
                                <small *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched" class="text-danger support-text">El usuario es requerido.</small>
                            </div>
                            <!-- col full-->
                            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                <mat-form-field>
                                    <input matInput type="password" placeholder="Contraseña" [formControl]="form.controls['password']">
                                </mat-form-field>
                                <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="text-danger support-text">El password es requerido.</small>
                            </div>
                            <!-- col half-->
                            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100"  class="text-right">
                                <mat-checkbox color="warn">Guardar sesión</mat-checkbox>
                            </div>
                            <br>
                            <br>
                            <!-- col half-->
                            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" class="text-center">
                                <a [routerLink]="['/authentication/forgot']" class="link">¿Olvidaste tu contraseña?</a>
                            </div>
                            <br>
                            <br>
                            <!-- col half-->
                            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" class="text-center">
                                <a [routerLink]="['/authentication/forgot']" class="link">¿Necesitas ayuda?</a>
                            </div>
                            <!-- col full-->
                            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="submit" [disabled]="!form.valid">Iniciar Sesión</button>
                            </div>
                            <!-- col full-->
                         <!--    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center">
                                <span>Don't have an account?
                                    <a [routerLink]="['/authentication/register']" class="text-info link">Registrar</a>
                                </span>
                            </div> -->
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>