<div fxFlexLayout="column">
    <div class="mat-toolbar mat-primary" fxLayoutAlign="center center">
        <h3>{{action}} Cotización </h3>
    </div>
    <form [formGroup]="form">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="font-bold">
                    Datos de la cotización
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <br>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxLayoutAlign="start center">
                    <span>Creado por: {{form.controls.created.value}}</span>
                </div>
                <div fxLayout="column" fxLayoutAlign="end center">
                    <span class="dateClass">Fecha: {{form.controls.updated_at.value | date}}</span>
                </div>
            </div>
            <br>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                <mat-form-field fxFlex>
                    <mat-label>RFC:</mat-label>
                    <mat-select formControlName="branch_office_id" required>
                        <mat-option *ngFor="let item of branchOffices" [value]="item.id">{{item.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <br>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                <mat-form-field fxFlex>
                    <mat-label># de Ordenes:</mat-label>
                    <mat-select formControlName="order_ids" multiple>
                        <mat-option *ngFor="let order of orders" [value]="order.id">{{ order.id }} - {{order.folio_equipment}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="font-bold">
                    Datos del Prospecto/Cliente
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline">
                        <mat-label>Buscar Cliente</mat-label>
                        <input type="text" matInput (keyup)="filterClient($event.target.value)" formControlName="customer_name" [matAutocomplete]="auto" required>
                        <mat-error *ngIf="form.controls.customer_name.hasError('required') || form.controls.customer_id.hasError('required')">Ingresa un cliente válido</mat-error>
                        <mat-autocomplete #auto>
                            <mat-option (click)="getItem(customer.id)" *ngFor="let customer of customers"
                                [value]="customer.name">
                                {{customer.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-form-field appearance="outline">
                        <mat-label>RFC:</mat-label>
                        <input matInput readonly=readonly placeholder="RFC Cliente" formControlName="customer_rfc">
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="end end">
                    <mat-form-field appearance="outline">
                        <mat-label>Folio:</mat-label>
                        <input matInput readonly=readonly placeholder="Folio" formControlName="id">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxLayoutAlign="end end">
                    <mat-form-field appearance="outline">
                        <mat-label>Contacto:</mat-label>
                        <input matInput placeholder="Contacto:" formControlName="contact">
                        <mat-error *ngIf="form.controls.contact.hasError('required')">Ingresa el contacto</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="end end">
                    <mat-form-field appearance="outline">
                        <mat-label>Correo:</mat-label>
                        <input matInput placeholder="Correo" formControlName="email">
                        <mat-error *ngIf="form.controls.email.hasError('required')">Ingresa el correo</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="end end">
                    <mat-form-field appearance="outline">
                        <mat-label>Telefono:</mat-label>
                        <input matInput placeholder="Telefono:" formControlName="telephone" (keypress)="isNumber($event)">
                        <mat-error *ngIf="form.controls.telephone.hasError('required')">Ingresa el teléfono</mat-error>
                        <mat-error *ngIf="form.controls.telephone.hasError('minlength')">Número a 10 digitos</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="font-bold">
                    Detalle de la cotización
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <br>
            <mat-tab-group>
                <mat-tab label="Agregar Conceptos" class="p-10">
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                        <div fxLayout="column" fxLayoutAlign="space-between center">
                            <mat-form-field appearance="outline">
                                <mat-label>Clave:</mat-label>
                                <input matInput [formControl]="fcKeyConcept" placeholder="Titulo:">
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="space-between center">
                            <mat-form-field appearance="outline">
                                <mat-label>Unidad:</mat-label>
                                <input matInput [formControl]="fcUnitConcept" placeholder="Unidad:">
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="space-between center">
                            <mat-form-field appearance="outline">
                                <mat-label>Cantidad:</mat-label>
                                <input matInput [formControl]="fcQuantityConcept" type="number" placeholder="Cantidad:">
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="space-between center">
                            <mat-form-field appearance="outline">
                                <mat-label>Precio:</mat-label>
                                <input matInput [formControl]="fcUnitPriceConcept" placeholder="Precio:">
                                <span matPrefix>$&nbsp;</span>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" fxFlex="74" fxLayoutAlign="space-between center">
                            <mat-form-field appearance="outline">
                                <mat-label>Descripción del concepto:</mat-label>
                                <textarea matInput [formControl]="fcDescriptionConcept" rows="4"> </textarea>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <button matTooltip="Agregar concepto" mat-raised-button color="primary"
                                (click)="addConcept()" [disabled]="isEmpty(fcKeyConcept.value) || isEmpty(fcUnitConcept.value) || isEmpty(fcQuantityConcept.value) || isEmpty(fcUnitPriceConcept.value) || isEmpty(fcDescriptionConcept.value)">
                                <mat-icon>add</mat-icon>
                            </button>
                            <button matTooltip="Limpiar campos" mat-raised-button color="warn" (click)="clearAll()">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-expansion-panel>

        <br>
        <table style="width: 100%;">
            <tr>
                <td colspan="5" class="mat-toolbar mat-primary title-concepts" style="text-align:center;">
                    <span>CONCEPTOS</span>
                </td>
            </tr>
            <tr>
                <th class="mat-toolbar mat-primary title-concepts">Clave</th>
                <th class="mat-toolbar mat-primary title-concepts">Descripción</th>
                <th class="mat-toolbar mat-primary title-concepts">Precio</th>
                <th class="mat-toolbar mat-primary title-concepts">Cantidad</th>
                <th class="mat-toolbar mat-primary title-concepts">Importe</th>
            </tr>
            <tr *ngFor="let row of concepts">
                <td class="td-center" style="width: 15%;">{{row.code}}</td>
                <td class="td-center" style="width: 55%; word-break: break-all;">{{row.description}}</td>
                <td class="td-center" style="width: 10%;"><b>{{row.unit_price | currency}}</b></td>
                <td class="td-center" style="width: 10%;"><b>{{row.quantity}}</b></td>
                <td class="td-center" style="width: 10%;"><b>{{row.import | currency}}</b></td>
            </tr>
        </table>
        <br>
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex="60" fxLayoutAlign="start start">
                <mat-form-field appearance="outline">
                    <mat-label>Observaciones:</mat-label>
                    <textarea matInput formControlName="comments" placeholder="Observaciones" cols="60"
                        rows="10"> </textarea>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-between center">

                <mat-form-field appearance="outline">
                    <mat-label>Tipo de moneda:</mat-label>
                    <input matInput formControlName="exchange">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Descuento</mat-label>
                    <input matInput formControlName="discount_p" (keypress)="isNumber($event)" (keyup)="calculeTotals()">
                    <span matSuffix>%</span>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Total de descuento:</mat-label>
                    <input matInput readonly formControlName="discount">
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-between center">

                <mat-form-field id="total" appearance="outline">
                    <mat-label>Importe:</mat-label>
                    <input matInput readonly=readonly placeholder="Importe" formControlName="import">
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>

                <mat-form-field id="total" appearance="outline">
                    <mat-label>Subtotal:</mat-label>
                    <input matInput readonly=readonly placeholder="Subtotal" formControlName="subtotal">
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>

                <mat-form-field id="iva" appearance="outline">
                    <mat-label>Iva:</mat-label>
                    <input matInput readonly=readonly placeholder="iva" formControlName="iva">
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>
                <mat-form-field id="iva" appearance="outline">
                    <mat-label>Total:</mat-label>
                    <input matInput readonly=readonly placeholder="Neto" formControlName="total">
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>


            </div>
        </div>

    </form>
    <button mat-raised-button style="float:right" color="primary" (click)="save()" [disabled]="saveDisabled">Guardar Cotizacion</button> 
    <button mat-raised-button style="float:left"color="warn"  (click)="close()">Cancelar</button>
</div>